.adminHome {
    display: flex;
    gap: 10px;
}

.adminHome-sidebar {
    width: 20%;
}

.adminHome-main {
    width: 78%;
    padding: 10px;
    margin-right: 10px;
}

.featuredItems {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 25px;
    margin-top: 10px;
}

.adminHome-main_salesListContainer{
    font-size: 30px;
}

.adminHome-main_salesListTitle {
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}