.home {
    display: flex;
}

.products_container {
    display: flex;
    width: 80%;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 12px;
    position: relative
}