<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title style={{width: "150px"}}>Document</title>
    </head>
    <body>
        <h4>Dear {{name}}</h4>
        <table>
            <th >
                <tr>
                    {{#each uniqueKeys}}
                        <th>{{this}}</th>
                    {{/each}}
                </tr>
            </th>
            <tbody>
                {{#each data}}
                    <tr>
                        {{#each ../uniqueKeys}}
                            <td>{{lookup .. this}}</td>
                        {{/each}}
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </body>
</html>